/* Section Styling */

#title{
    background-color: #ff4c68;
}
h1{
    font-family:"Montserrat";
    size: 3.5em;
    line-height: 1.5;
    font-weight: 900;
}

p{
    font-family: "Ubuntu";
    color: #8f8f8f;
}
 h2{
    font-weight: bold;
    line-height: 1.5;
    font-size: 3rem;
 }

.container-fluid{
    padding:3% 15%
}

.navbar-brand{
    font-family: "ubuntu";
    size: 2.5rem;
    font-weight: bold;
}

body{
    font-family:"Montserrat" ;
}
.navbar{
    padding: 0 0 4.5rem;
}
.nav-item{
    padding:0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}


/* Download-buttons */

.download-button{
    margin:5% 3% 5% 0;
}

/* Iphone-image */

.title-image{
    width: 60%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}
.title-image:hover{
    transform:rotate(360deg);
    -ms-transform:rotate(360deg); 
    -webkit-transform:rotate(360deg);
}

/* 2nd section */

.descol{
    margin: 1rem;
    /* width:40%; */
    color: #ef8172;
}
.descol:hover{
    color: #ff4c68;
}

.tecol{
    /* font-family: "Montserrat"; */
    font-weight: bold;
    size: 1.5rem;
}

/* .stylep{
    color: #8f8f8f;
} */

.wholesec{
    margin:60px;
}

.feature-box{
    padding:5%;
}

/* testimonial section */

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.testimonial-image{
    border-radius: 100%;
    width: 10%;
    margin: 10px;
}

.carousel-item{
    padding: 7% 15%;
}

.stopheight{
    display: block;
}

#press{
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
}

.press-image{
    margin: 20px 20px 50px;
    width: 10%;
}

/* Pricing Section */

#pricing{
    text-align: center;
    padding:5%;
}

/* CTA section */

#cta{
    text-align: center;
    background-color: #ff4c68;
    padding: 5%;
    
}

/* Footer Section */

#footer{
    text-align: center;
    padding: 5%;
}

.marg{
    margin: 0.8%;
}

.des{
    padding: 8px 40px40px 8px;
}
